<footer id="footer" class="footer position-relative light-background">

  <div class="container-fluid footer-top">
    <div class="row gy-4">
      <div class="col-lg-12 col-md-6 footer-about">
        <h6 class="nameofshope">SHINE ORGANICS NATURAL COSMETICS</h6>
        <a href="/home" class="logo d-flex align-items-center">

        </a>
      </div>
    </div>

    <div class="row gy-4">
      <div class="col-lg-2 col-md-6 footer-links ml-20px">
        <h4 class="kpmshopsilver">Category</h4>
        <ul>
          <li><a routerLink="/shine/skincare">Skin Care</a></li>
          <li><a routerLink="/shine/haircare">Hair Care</a></li>
          <li><a routerLink="/shine/facecare">Face Care</a></li>
          <li><a routerLink="/shine/bodycare">Body Care</a></li>
          <li><a routerLink="/shine/babycare">Baby Care</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 footer-links">
        <h4 class="kpmshopsilver">Best Seller</h4>
        <ul>
          <li><a>2 in 1 lip and cheek tint</a></li>
          <li><a> ⁠Rose and Lavender Moisturising Cream</a></li>
          <li><a> ⁠Organic Kajal</a></li>
          <li><a>⁠Vitamin C Face Wash</a></li>
          <li><a>Rosehip Mango & Shea Organic Body Butter</a></li>
          <li><a>Keratin Shampoo</a></li>
          <li><a>Rose Clay Face Mask</a></li>
          <li><a>Leave in Conditioner</a></li>
          <li><a>Baby Bath Soap</a></li>
          <li><a>Rose Hydrosol</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4 class="kpmshopsilver">QUICK LINKS</h4>
        <ul>
          <li><a routerLink="/Shipping-and-Delivery">Shipping and Delivery</a></li>
          <li><a routerLink="/Cancellation-and-Refund">Cancellation and Refund</a></li>
          <li><a routerLink="/Terms-and-condition">Terms and condition</a></li>
          <li><a routerLink="/Privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-link">
        <div class="footer-contact ">
          <h4 class="kpmshopgold">KPM Super Shopee</h4>
          <p class="mb-2" style="max-width:300px">KPM Super Shopee is your one shop for all your needs, from groceries
            and daily essentials to cosmetics, organic products, and beautiful jewelry. Enjoy top-quality and variety at
            affordable prices!</p>
          <p Class="add-font" style="display: flex;gap: 2px;"><span>
              <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" fill="#ffffff"
                version="1.1" id="Capa_1" width="18px" height="18px" viewBox="0 0 395.71 395.71" xml:space="preserve">
                <g>
                  <path
                    d="M197.849,0C122.131,0,60.531,61.609,60.531,137.329c0,72.887,124.591,243.177,129.896,250.388l4.951,6.738   c0.579,0.792,1.501,1.255,2.471,1.255c0.985,0,1.901-0.463,2.486-1.255l4.948-6.738c5.308-7.211,129.896-177.501,129.896-250.388   C335.179,61.609,273.569,0,197.849,0z M197.849,88.138c27.13,0,49.191,22.062,49.191,49.191c0,27.115-22.062,49.191-49.191,49.191   c-27.114,0-49.191-22.076-49.191-49.191C148.658,110.2,170.734,88.138,197.849,88.138z" />
                </g>
              </svg>
            </span>Address</p>
          <p class="">Oppsite to muruga theatre,</p>
          <p>KK Rd, Tamil Nadu 605602</p>
          <p class=""><strong>Phone:</strong> <span>+91 94422 88466</span></p>
          <p><strong>Gmail:</strong> <span>shineorganicskpm&#64;gmail.com</span></p>
        </div>



      </div>

    </div>


  </div>

  <div class="container copyright text-center mt-2 social-block">
    <!-- Social Medoia -->
    <div class="social-group">
      <a href="https://www.instagram.com/sheshine_kpm/" target="_blank">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.youtube.com/@KPMSheshine" target="_blank">
        <i class="bi bi-youtube"></i>
      </a>
      <a>
        <i class="bi bi-facebook"></i>
      </a>
    </div>
    <!-- End Social Medoia -->
    <p>© <span>Copyright</span> <strong class="px-1 sitename">SHINE ORGANICS NATURAL COSMETICS</strong><span>All Rights
        Reserved</span></p>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you've purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
      Designed by <a href="https://thikse.in/">Thikse Software Solutions</a>
    </div>
  </div>

</footer>