<section class="explain-block">
  <div class="explain-main">
    <div class="explain-wrap">
      <h3 class="explain-header" style="color:#204e3c;">Why is this solution
        <br>
        the best choice?
      </h3>
      <p class="" style="color:#000;">
        This solution is the best choice because it combines the effectiveness of high-quality organic ingredients with
        a commitment to sustainability and safety. Each ingredient is carefully selected for its proven benefits and
        natural properties, ensuring superior hydration, protection, and nourishment for your lips.
      </p>
    </div>
    <div class="container">
      <div class="explain-formBlock">
        <div class="row gy-4">
          <div class="col-lg-6 col-sm-6 col-md-6 explain-handle-left explain-position">
            <div class="explain-img">
              <img src="assets/images/shine/organic/source.webp" alt="">
            </div>
            <div class="explain-card">
              <div class="explain-head">
                <p class="header">
                  Lip Stick
                </p>
                <p class="explain-desc">
                  Experience ultimate lip care with our lipstick, featuring Almond Oil and Jojoba Oil for deep hydration
                  and smoothness. Beeswax and Candelilla Wax provide a creamy texture and long-lasting wear, while
                  Rosehip Oil and Vitamin E offer rejuvenation and a glossy finish.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6 explain-handle-right explain-position">
            <div class="explain-img">
              <img src="assets/images/shine/organic/4Why_2_5ad7068c-2c30-4557-abb9-73b60e4b6703.avif" alt="">
            </div>
            <div class="explain-card">
              <div class="explain-head">
                <p class="header">
                  Lip Serum
                </p>
                <p class="explain-desc">
                  Enhance lip care with our premium lip balm. Coconut Oil provides intense hydration through its
                  emollient properties, while Lemon Essential Oil imparts a revitalizing aroma. Almond Oil delivers
                  targeted soothing and nourishment, Vegetable Glycerine ensures moisture retention, and Vitamin E
                  offers robust antioxidant protection, promoting softness and overall lip health.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6 explain-handle-left explain-position">
            <div class="explain-img">
              <img src="assets/images/shine/organic/4Why_3_01189ba6-6b2b-4b27-90e7-85206fe78c1f.avif" alt="">
            </div>
            <div class="explain-card">
              <div class="explain-head">
                <p class="header">
                  Lip Balm
                </p>
                <p class="explain-desc">
                  Nourish your skin with our advanced blend of natural ingredients. Organic Beeswax creates a protective
                  barrier, while Coconut Oil offers deep moisturization. Rosehip Oil enhances skin regeneration, and
                  Almond Oil, Jojoba Oil, and Castor Oil ensure optimal smoothness. Vitamin E delivers potent
                  antioxidant protection.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6 explain-handle-right explain-position">
            <div class="explain-img">
              <img src="assets/images/shine/organic/4Why_4_de114472-26f6-4626-85a6-3752c7503894.avif" alt="">
            </div>
            <div class="explain-card">
              <div class="explain-head">
                <p class="header">
                  Face Serum
                </p>
                <p class="explain-desc">
                  Enhance your skincare with our advanced formulation Argania Spinosa Kernel Oil for barrier support and
                  emollient effects, Rosehip Oil for cellular regeneration and vitamin A activity, Frankincense for
                  anti-inflammatory and skin rejuvenation, Geranium for dermal balance, Bulgarian Lavender for calming,
                  and Vitamin E for antioxidant protection and skin integrity.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6 explain-handle-left explain-position">
            <div class="explain-img">
              <img src="assets/images/shine/organic/source.webp" alt="">
            </div>
            <div class="explain-card">
              <div class="explain-head">
                <p class="header">
                  Natural Soap
                </p>
                <p class="explain-desc">
                  Experience our hydration with our blend featuring Cocos Nucifera (Coconut Oil) to deeply moisturize
                  and soothe, Simmondsia Chinensis (Jojoba Oil) for balanced moisture, Ricinus Communis (Castor Oil) for
                  a glossy finish, and Tocopherol (Vitamin E) for antioxidant protection and enhanced skin health.
                  Discover the ultimate in skin nourishment and protection today!
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-md-6 explain-handle-right explain-position">
            <div class="explain-img">
              <img src="assets/images/shine/organic/4Why_2_5ad7068c-2c30-4557-abb9-73b60e4b6703.avif" alt="">
            </div>
            <div class="explain-card">
              <div class="explain-head">
                <p class="header">
                  Lip Scrub
                </p>
                <p class="explain-desc">
                  Elevate your skincare routine with our expertly formulated blend of Sucrose for gentle exfoliation,
                  Tocopherol (Vitamin E) for antioxidant defense, and Essential Oils for revitalization. Infused with
                  Cocos Nucifera (Coconut), Citrus Limon, Shea Butter, and Alkanet Root Extract for deep hydration,
                  nourishment, and a radiant complexion.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>