<section>
  <div *ngIf="!product" class="no-product">
    <div class="spinner-load" *ngIf="loading">
      <div class="lds-dual-ring"></div>
    </div>

  </div>
  <div class="product-detail" *ngIf="product">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex flex-column flex-md-row">
          <!-- Images on the left for desktop/tablet -->
          <div class="option d-md-flex justify-content-center align-items-center me-3 d-none">
            <div class="scroll-container">
              <img *ngFor="let image of product.images" [src]="image" alt="" class="img-thumbnail mb-2"
                (click)="changeImage(image)" />
            </div>
            <!-- 360-Degree Rotational Image Container -->
            <div *ngIf="threeDImages.length > 0" class="image-container" (click)="openPopup()">
              <img [src]="threeDImages[imageIndex]" alt="Product" id="product-image" class="img-fluid" />
            </div>

            <!-- Popup -->
            <div *ngIf="isPopupVisible" class="popup-overlay" (click)="closePopup()">
              <div class="popup-content" (click)="$event.stopPropagation()" (mousedown)="startRotation($event)"
                (mousemove)="rotateImage($event)" (mouseup)="stopRotation()" (mouseleave)="stopRotation()"
                (touchstart)="startRotation($event)" (touchmove)="rotateImage($event)" (touchend)="stopRotation()">
                <img [src]="threeDImages[imageIndex]" alt="Popup Product" id="popup-image" class="img-fluid" />
                <button class="close-btn" (click)="closePopup()">✖</button>
              </div>
            </div>




          </div>

          <!-- Main Image -->
          <div class="main_image position-relative flex-grow-1">
            <img [src]="product.thumbnail" alt="" class="img-fluid slide" />
            <i class="fa-heart position-absolute top-0 end-0 m-3"
              [ngClass]="{ 'fas': product.isFavorite, 'far': !product.isFavorite }"
              [class.text-danger]="product.isFavorite" (click)="toggleFavorite(product)">
            </i>
          </div>

          <!-- Images below for mobile -->
          <div class="option-mobile d-md-none">
            <div class="scroll-container">
              <img *ngFor="let image of product.images" [src]="image" alt="" class="img-thumbnail me-2"
                (click)="changeImage(image)" />
            </div>
          </div>
        </div>











        <div class="col-md-6 product-details">
          <div class="details-content">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h5 class="card-title">{{ product.name }}</h5>
              </div>
              <div class="product-rating d-flex flex-column">
                <span>
                  <i *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                    [class]="getStarClass(i, product.averageRating)"></i>
                </span>
                <span class="txt-rate">(Rating: {{ (product.averageRating || 0) | number:'1.1-1' }} / 5)</span>

              </div>
            </div>
            <div>
              <p class="card-text">
                <span>Suitable for : </span>{{ product.suitable || "N/A" }}
              </p>
              <p *ngIf="product.subcategory === 'Lipstick'" class="card-text">
                <span>Color: </span>{{ product.color || "N/A" }}
              </p>
            </div>
            <div *ngIf="product.specialLine">
              <p class="card-text-special">
                <span>Special line: </span> {{ product.specialLine }}
              </p>
            </div>
            <div class="product-mrpPrize">
              <div class="prize-detail">
                <p class="spec-prize mb-0">Special Prize</p>
                <p class="card-text">
                  <small class="text-muted">
                    <span class="prize">{{
                      product.price | currency : "INR"
                      }}</span>
                    <del>{{ product.mrp | currency : "INR" }}</del>
                  </small>
                </p>
              </div>

              <p class="card-text-off">
                <small class="text-muted">{{ product.discount }}% Off</small>
              </p>
              <p class="card-text"></p>
            </div>
            <div class="num-item">
              <div class="add d-flex align-items-center">
                <span class="quantity-btn" (click)="decreaseQuantity()">-</span>
                <label class="mx-2">{{ product.quantity }}</label>
                <span class="quantity-btn" (click)="increaseQuantity()">+</span>
              </div>
              <div class="d-flex">
                <div class="product-buy-add">

                  <button class="btn btn-cart mt-0" (click)="addToCart(product)" [disabled]="isAddingToCart">
                    {{ isAddingToCart ? 'Adding...' : 'Add to Cart' }}
                  </button>

                  <button class="btn btn-success mt-0" (click)="buyNow(product.id)">
                    Buy Now
                  </button>
                </div>
              </div>
            </div>

            <button type="button" [class]="getClass(1)" class="collapsible" (click)="toggleContent(1)">
              Description
            </button>
            <div class="content" [style.display]="isActive(1) ? 'block' : 'none'">
              <p class="card-text">{{ product.description }}</p>
            </div>
            <button type="button" [class]="getClass(2)" class="collapsible" (click)="toggleContent(2)">
              Key Benefits
            </button>
            <div class="content" [style.display]="isActive(2) ? 'block' : 'none'">
              <p class="card-text">{{ product.keybenefit }}</p>
            </div>
            <button type="button" [class]="getClass(3)" class="collapsible" (click)="toggleContent(3)">
              know our ingredients
            </button>
            <div class="content" [style.display]="isActive(3) ? 'block' : 'none'">
              <p class="card-text">{{ product.ingredients }}</p>
            </div>
            <button type="button" [class]="getClass(4)" class="collapsible" (click)="toggleContent(4)">
              How to Use
            </button>
            <div class="content" [style.display]="isActive(4) ? 'block' : 'none'">
              <p class="card-text">{{ product.howToUse }}</p>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div *ngIf="duplicatedCards && duplicatedCards.length > 0"
      class="container-fluid py-5 ingredient-bg text-center overAll-view">
      <div class="d-flex justify-content-center ingredient-block">
        <div class="col-lg-12 justify-content-center position-relative">
          <h2 class="display-4">
            Why are these ingredients important in my personal care routine?
          </h2>
          <p class="lead">
            Each ingredient we select is carefully chosen for its specific benefits.
            Whether it’s nourishing oils, hydrating extracts, or protective
            vitamins, we make sure that every component works in harmony to promote
            healthier, glowing skin. Natural, effective, and safe—that’s what we
            stand for.
          </p>
        </div>
      </div>
      <div class="carousel-container">
        <div class="carousel-wrapper" [style.transform]="'translateX(' + -currentIndex * cardWidth + 'px)'">
          <div *ngFor="let card of duplicatedCards" class="carousel-card">
            <img [src]="card.image" alt="Card Image" />
            <h3>{{ card.title }}</h3>
            <div class="scrollable-text">
              <p>{{ card.text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- similier product  -->
    <div class="container mt-5 product-overview-Block" *ngIf="subcategoryProducts.length > 0">
      <div class="similar-head">
        <p>Similar Products</p>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6 mb-4" *ngFor="let subcategoryProduct of subcategoryProducts">
          <div class="card">
            <img src="{{ subcategoryProduct.thumbnail }}" class="card-img-top" alt="Product Image"
              (click)="viewProduct(subcategoryProduct)" (error)="onImageError($event)" />
            <div class="card-body">
              <p class="card-title">{{ subcategoryProduct.name }}</p>
              <!-- <p class="card-text">{{ product.description }}</p> -->
              <div class="product-rating">
                <i *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" [class]="getStarClass(i,product.averageRating)"
                  (click)="setRating(product, i + 1)"></i>
                <span>( {{ subcategoryProduct.averageRating }}/5 Reviews) </span>
              </div>
              <p class="card-benefit benefit-reg" style="height: 36px">
                {{ subcategoryProduct.benefit }}
              </p>
              <!-- <p class="card-size">{{ product.size }}</p> -->
              <p class="card-text">
                <small class="text-muted"><b>MRP: </b>
                  <del>{{ subcategoryProduct.mrp | currency : "INR" }}</del></small>
              </p>
              <p class="card-price">₹{{ subcategoryProduct.price }}</p>
              <div>
                <button class="card-btn" (click)="viewProduct(subcategoryProduct)">
                  View Product
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-review></app-review>
  </div>
</section>
