<section>
  <div class="hero-wrapper">
    <div class="container-fluid">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 mb-5 mb-lg-0 order-lg-1">
            <div class="heroImg-block">
              <img src="assets/images/shine/normal/neemcomb.webp" alt="" class="img-fluid"/>
            </div>
          </div>
          <div class="col-lg-6 order-lg-2">
            <div class="hero-section">
              <p class="desc-para">
                She Shine's products are amazing! The Radiant Glow Serum leaves my
                skin looking fresh and radiant every day. Highly recommend!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <app-pick-product> </app-pick-product>
  <app-productExplain> </app-productExplain>
  <app-best-selleer></app-best-selleer>
  <app-customer> </app-customer>
<app-shine-footer></app-shine-footer>
</section>
