<section class="about">
  <div class="about-block">
    <div class="about-titlemain">
      <p class="about-title">Our Story</p>
    </div>
    <div class="container">
      <div class="row align-items-center gap-20">
        <div class="col-lg-6">
          <div class="about-desc-block">
            <div class="about-desc">
              <div class="about-main">
                <p class="about-mainTitle">
                  <span>KPM Super Shopee : </span>A Legacy of Trust and
                  Excellence in Villupuram
                </p>
                <div class="about-mainImportant">
                  <p class="about-desc-main">
                    KPM Super Shopee has proudly served the Villupuram community
                    for over three generations, becoming a trusted name for
                    quality and reliability. From our humble beginnings as the
                    first supermarket in the region, we’ve grown into a one-stop
                    destination for all your needs. Quality is our main goal. We
                    are deeply committed to never compromising on the quality of
                    the products we offer. At KPM Super Shopee, we believe that
                    our customers deserve nothing but the best, which is why we
                    provide first-quality products at the most affordable
                    prices. Our traditional shop offers a wide range of
                    products, including groceries, vessels, gift items, fancy
                    items, and play toys for kids. We also specialize in
                    fulfilling large orders for special occasions like
                    marriages, birthday parties, and other events. At KPM Super
                    Shopee, we continue to uphold the values that have kept us
                    in business for generations: trust, quality, and customer
                    satisfaction. We invite you to experience the difference
                    that comes with shopping at a place where tradition and
                    quality are at the heart of everything we do.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-block">
            <div class="img-cover">
              <img src="assets/images/mall.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 2 Section -->
    <div class="container">
      <div class="about-second">
        <div class="about-blockMain">
          <div class="about-head">
            <h2 class="about-head-title">Shine</h2>
          </div>
          <p class="about-desc-manager">
            At Shine, we are passionate about creating organic and natural
            products that not only enhance your beauty but also nurture your skin
            with the utmost care. Our journey began with a deep curiosity and love
            for nature’s ingredients, leading us to study and research each
            element extensively. Every product in our Shine range is crafted with
            precision, using carefully selected ingredients that have been
            rigorously studied and tested. Our formulations are the result of
            dedicated research and expertise, ensuring that every item is of the
            highest quality and effectiveness. We take pride in offering our
            customers premium products at reasonable prices, making luxurious
            skincare accessible to everyone.
          </p>
        </div>
      </div>
    </div>
    <!-- 3 - Section -->
    <div class="container">
      <div class="about-third">
        <div class="about-blockMain">
          <div class="about-head">
            <h2 class="about-head-title">Sheshine</h2>
          </div>
          <p class="header-text text-center">Where Tradition Meets Elegance</p>
          <div class="splited-block">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 img-cover">
                <div class="img-block">

                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="text-block">
                  <p class="text-desc">
                    <span class="font-highlight">Exclusive Fancy Jewelry : </span>
                    Sheshine offers a premium range of fancy items, including bangles, AD sets, jewelry, and hire rings.
                    Each piece is crafted to elevate any look, adding elegance to both casual and formal attire.
                    Sheshine’s collection is ideal for those seeking unique and fashionable accessories. Whether for
                    personal use or as a gift, their products are designed to impress.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="text-block">
                  <p class="text-desc">
                    <span class="font-highlight">Modern Elegance : </span>
                    The brand merges modern aesthetics with traditional design elements, appealing to a diverse customer
                    base. Sheshine’s collections are fashionable yet timeless, perfect for customers who want to stay on
                    trend while retaining a classic touch. The brand’s designs suit a variety of occasions, from
                    everyday wear to festive events.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 img-cover">
                <div class="img-block">

                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 img-cover">
                <div class="img-block">

                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="text-block">
                  <p class="text-desc">
                    <span class="font-highlight">Affordable Luxury : </span>
                    Sheshine offers the look of luxury at affordable prices, making high-end fashion accessible to all.
                    Their jewelry combines style and quality without compromising on budget, allowing everyone to
                    experience fashionable elegance. Sheshine ensures customers get value for their money with chic
                    designs at competitive prices.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="text-block">
                  <p class="text-desc">
                    <span class="font-highlight">Premium Craftsmanship : </span>
                    Each Sheshine piece is meticulously crafted with a focus on durability and comfort. The brand’s
                    attention to detail ensures that every item stands out in terms of design and quality. Sheshine’s
                    products are built to last, making them suitable for daily wear or special occasions, without
                    sacrificing elegance.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 img-cover">
                <div class="img-block">

                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 img-cover">
                <div class="img-block">

                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="text-block">
                  <p class="text-desc">
                    <span class="font-highlight">Wide Range of Styles : </span>
                    Sheshine caters to diverse tastes, offering a broad selection of bangles, AD sets, and more. Whether
                    customers seek bold and statement pieces or understated elegance, there’s something for everyone.
                    The variety in design ensures that customers can find the perfect accessory to match any outfit or
                    mood.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="text-block">
                  <p class="text-desc">
                    <span class="font-highlight">Customer-Centric Approach : </span>
                    Sheshine places customer satisfaction at the heart of its operations, ensuring a seamless shopping
                    experience. Their commitment to quality products and responsive customer service sets them apart.
                    Sheshine is dedicated to exceeding expectations, making every customer feel valued and appreciated.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 img-cover">
                <div class="img-block">

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<app-shine-footer></app-shine-footer>