<section class="bg-mainColor">
  <!-- Hero page -->

<main>
  <section id="hero" class="hero section dark-background">
    <div class="container-flu">
      <div class="row gy-4">
        <div class="col-lg-6 order-1 order-lg-1 hero-img">
          <img
            src="assets/images/sheshineproduct/hero-img.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div
          class="col-lg-6 order-2 order-lg-2 d-flex flex-column justify-content-center second-line"
        >
          <h1>
            Where Elegance Meets Brilliance, Every Piece Tells a Story of Style
            and Grace
          </h1>
          <p>
            At She Shine, our jewelry captures the essence of elegance and
            grace. Each piece is beautifully crafted to empower and dazzle,
            using high-quality gold plating. Unveil your beauty and shine bright
            with our stunning collection.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<section>
  <app-flash-offers></app-flash-offers>


  <app-product-card ></app-product-card>
  <app-feature></app-feature>
  <app-trending></app-trending>
  <app-special></app-special>
  <app-testmonial></app-testmonial>
  <app-customer></app-customer>
  <app-footer></app-footer>
</section>

</section>
