<section class="testmonial-block">
  <div class="container">
    <div class="testmonial-sub">
      <div class="testmonial-main">
        <div class="testmonial-round">
          <img src="assets/images/icon/certificate.svg" alt="" width="50px" height="50px">
        </div>
        <div class="testmonial-title">
          <p class="mb-0 testmonial-head">Certified Authenticity</p>
          <div>
            <p class="testmonial-desc">Dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it
              to make a type specimen book.</p>
          </div>
        </div>
      </div>
      <div class="testmonial-main">
        <div class="testmonial-round">
          <img src="assets/images/icon/lock-slash.svg" alt="" width="50px" height="50px">
        </div>
        <div class="testmonial-title">
          <p class="mb-0 testmonial-head">100% Secure Shopping</p>
          <div>
            <p class="testmonial-desc">Dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it
              to make a type specimen book.</p>
          </div>
        </div>
      </div>
      <div class="testmonial-main">
        <div class="testmonial-round">
          <img src="assets/images/icon/free-delivery.svg" alt="" width="50px" height="50px">
        </div>
        <div class="testmonial-title">
          <p class="mb-0 testmonial-head">Free Delivery</p>
          <div>
            <p class="testmonial-desc">Dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it
              to make a type specimen book.</p>
          </div>
        </div>
      </div>
      <div class="testmonial-main">
        <div class="testmonial-round">
          <img src="assets/images/icon/quality-diamond.svg" alt="" width="50px" height="50px">
        </div>
        <div class="testmonial-title">
          <p class="mb-0 testmonial-head">Premium Product Quality</p>
          <div>
            <p class="testmonial-desc">Dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it
              to make a type specimen book.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>