
<div class="back-button-container">
  <button class="btn btn-secondary back-button" (click)="goBack()">
    <i class="fas fa-arrow-left"></i> <span class="back-text">Back</span>
  </button>
</div>
<div class="address-block">
  <div class="container">

<div class="address-cover">
  <div class="address-title">
    <p class="">Delivery Address</p>
  </div>
  <!-- Loop through the addresses and display them -->
  <div *ngFor="let address of addresses" class="card  mb-3" (click)="selectAddress(address)"
        [class.border-primary]="address === selectedAddress">
        <div class="">
          <div class="card-body">
            <div class="home-badge">{{ address.type }} Delivery</div>
            <div class="imform">
              <p class="card-title mb-0"><span class="dark">Name :</span> {{ address.name }}
              </p>
              <p class="card-text mb-0"><span class="dark">Phone :</span> {{ address.phone }}</p>
              <p class="card-text mb-0"><span class="dark">Address : </span>{{ address.addressLine1 }}, {{ address.addressLine2 }},{{ address.city }},{{ address.state }},{{ address.zip }}</p>
              
            </div>
            <button class="btn btn-primary mt-2" style="margin-right: 20px;" (click)="updateAddress(address)">Update</button>
            <button class="btn btn-danger mt-2" (click)="deleteAddress(address.id)">Delete</button>
        </div>
        </div>
    </div>

    <!-- Single button to handle delivery -->
    <div class="d-flex justify-content-between mt-3" *ngIf="product || productIds.length > 0">
      <button class="btn btn-primary" (click)="deliver()" [disabled]="!selectedAddress">
          Deliver Here
      </button>
      <button class="btn btn-success" (click)="navigateToAddAddress()">Add Address</button>
  </div>
</div>


  </div>
</div>
