<div class="animation-container" [ngStyle]="{'background': backgroundColor}">
  <div class="moving-box" [style.animationDuration]="animationDuration">
    <div class="moving-sub">
      <div class="moving-bar" routerLink="/about">
        <img src="assets/images/general/kpmlogo-peacock.svg" alt="">
        <div class="moving-pos">
          <h5 class="moving-title"><span class="h-txt">KPM</span><span class="span-pos">TM</span> SUPER SHOPEE</h5>
        </div>
      </div>
      <p class="moving-desc">
        For best quality products at low prices and amazing offers visit our shop!
      </p>
    </div>
  </div>
</div>